.chats {
    max-width: 700px;
    padding: 8rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

.dummyText{
    width: 50%;
    padding-top: 20px;
    font-size: 15px;
    color:#c2c2c2;
    line-height: 1.6;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}
.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}
